.page__container {
  display: grid;
  justify-content: center;
  min-height: 720px;
  height: 100vh;
  grid-template-columns: minmax(auto, 600px) minmax(auto, 600px);
  background-image: url('../images/bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
}

@media screen and (max-width: 600px) {
  .page__container {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
}

.left__column {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 3em;
  color: white;
}

.left__column__header {
  padding-right: 10em;
}

.left__column__bio {
  padding-top: 2em;
  line-height: 1.5em;
}

.right__column {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}